<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uni.miskolc.ips.ilona.measurement.persist.mappers.PositionMapper">

     
    <resultMap type="Coordinate" id="CoordinateResultMap">
		<result property="x" column="relX" />
		<result property="y" column="relY" />
		<result property="z" column="relZ" />
	</resultMap>
	
    <resultMap type="Zone" id="ZoneResultMap">
		<id property="id" column="zoneId" javaType="UUID" jdbcType="VARCHAR"
			typeHandler="UUIDTypeHandler" />
		<result property="name" column="name" />
	</resultMap>

    
	<resultMap type="Position" id="PositionResultMap">
		<id property="id" column="posId" javaType="UUID" jdbcType="VARCHAR"	typeHandler="UUIDTypeHandler" />
		<!--  <association property="zoneId" resultMap="ZoneResultMap" /> -->
		<association property="coordinate" javaType="Coordinate">
		    <result property="x" column="coord_X"/>
		    <result property="y" column="coord_Y"/>
		    <result property="z" column="coord_Z"/>
		</association>
		<association property="zone" resultMap="ZoneResultMap"/>
	</resultMap>
	
	<select id="selectPositions" resultMap="PositionResultMap">
		select * from Position p inner join Zone z on z.zoneId = p.zoneId;
	</select>
	
	<select id="selectPositionByUUID" resultMap="PositionResultMap"
		parameterType="UUID">
		select * from Position p inner join Zone z on z.zoneId = p.zoneId 
		where p.posId = #{id, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR};
	</select>
	
	<insert id="insertPosition">
		insert into Position values(
		#{id, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR},
		#{coordinate.x},
		#{coordinate.y},
		#{coordinate.z},
		#{zone.id, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR}
		);
	</insert>
    
	<update id="updatePosition">
	    update Position set 
	    coord_X = #{coordinate.x},
		coord_Y = #{coordinate.y},
		coord_Z = #{coordinate.z},
		zoneId =  #{zone.id, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR}
		where 
		posId = #{UUID, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR};
	</update>
	
	
	<delete id="deletePosition">
	    delete from Position where posId = #{UUID, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR};
	</delete>

</mapper>