<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uni.miskolc.ips.ilona.measurement.persist.mappers.ZoneMapper">

	<resultMap type="Zone" id="ZoneResultMap">
		<id property="id" column="zoneId" javaType="UUID" jdbcType="VARCHAR"
			typeHandler="UUIDTypeHandler" />
		<result property="name" column="name" />
	</resultMap>


	<select id="selectZones" resultMap="ZoneResultMap">
		select * from Zone;
	</select>
	
	 
	<select id="selectZonesByName" resultMap="ZoneResultMap">
		select * from Zone where name like #{name};
	</select>
 	
	 
	<select id="selectZoneByUUID" resultMap="ZoneResultMap"
		parameterType="UUID">
		select * from Zone where zoneId = #{id, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR};
	</select>
	 
	
	<insert id="insertZone" parameterType="Zone">
		insert into Zone values(
		#{id, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR},
		#{name}
		);
	</insert>

	
	<delete id="deleteZone">
	    delete from Zone where zoneId = #{id, typeHandler=UUIDTypeHandler, jdbcType=VARCHAR};
	</delete>
 	

	<!-- <select id="selectZone" resultType="Zone"> select * from Zone where 
		UUID = #{id}; </select> -->

	<!-- <insert id="insertZone" flushCache="true"> insert into Zone(UUID, name) 
		values(#{id},#{name}); </insert> -->
</mapper>