<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="uni.miskolc.ips.ilona.tracking.persist.mysql.mappers.RememberMeTokenMapper">
	
	<resultMap type="rememberMeToken" id="rememberMeTokenResultMap">
		<id column="series" property="series"/>
		<result column="username" property="username"/>
		<result column="token" property="tokenValue"/>
		<result column="last_used" property="date"/>
	</resultMap>
	
	<select id="getTokenForSeries" parameterType="String" resultMap="rememberMeTokenResultMap">
		select username, series, token, unix_timestamp(last_used) as last_used from
		persistent_logins where series = #{series};
	</select>

	<insert id="createNewToken">
		insert into persistent_logins(username, series,
		token, last_used) values (#{token.username}, #{token.series},
		#{token.tokenValue}, #{token.date});
	</insert>

	<update id="updateToken">
		update persistent_logins set token = #{tokenValue},
		last_used = #{lastUsed} where series = #{series};
	</update>

	<delete id="removeUserTokens">
		delete from persistent_logins where username =
		#{userid};
	</delete>

</mapper>