<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="uni.miskolc.ips.ilona.tracking.persist.mysql.mappers.TrackingUserManagementAndServiceMapper">

	<resultMap type="TrackingUserDatas" id="GetUserDatas">
		<id property="userid" column="userid" javaType="String" jdbcType="VARCHAR" />
		<result property="username" column="username" javaType="String"
			jdbcType="VARCHAR" />

		<result property="password" column="password" javaType="String"
			jdbcType="VARCHAR" />

		<result property="email" column="email" javaType="String"
			jdbcType="VARCHAR" />

		<result property="enabled" column="enabled" javaType="boolean"
			jdbcType="INTEGER" typeHandler="BooleanToIntHander" />

		<result property="nonExpired" column="nonexpired" javaType="java.util.Date"
			jdbcType="TIMESTAMP" />

		<result property="loginAttempts" column="loginAttempts"
			javaType="int" jdbcType="INTEGER" />

		<result property="firstBadLoginAttempt" column="firstbadloginattempt"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />

		<result property="credentialsNonExpired" column="credentialsnonexpired"
			javaType="java.util.Date" jdbcType="TIMESTAMP" />

		<collection property="roles" ofType="String" javaType="List"
			jdbcType="VARCHAR">
			<id property="roles" column="userrole" />
		</collection>
	</resultMap>

	<resultMap type="DatabaseDevice" id="getDeviceDatas">
		<id column="deviceid" property="deviceid" javaType="String"
			jdbcType="VARCHAR" />
		<result property="userid" column="deviceowner" javaType="String"
			jdbcType="VARCHAR" />
		<result property="deviceName" column="devicename" javaType="String"
			jdbcType="VARCHAR" />
		<result property="deviceType" column="devicetype" javaType="String"
			jdbcType="VARCHAR" />
		<result property="deviceTypeName" column="devicetypename"
			javaType="String" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="createUserBaseData" parameterType="TrackingUserDatas">
		insert into Trackingusers
		values(#{userid}, #{username}, #{email}, #{password}, #{enabled,
		typeHandler = BooleanToIntHander}, );
	</insert>

	<select id="getUser" resultMap="GetUserDatas" parameterType="String">

		select tu.userid, tu.username, tu.password, tu.email, tu.enabled,
		tu.nonexpired, tu.loginattempts, tu.firstbadloginattempt,
		tu.credentialsnonexpired, roles.userrole
		from TrackingUsers tu
		inner
		join TrackingUserRoles roles on tu.userid = roles.userid
		where
		tu.userid = #{userid};

	</select>

	<select id="getAllUsers" resultMap="GetUserDatas">
		select
		tu.userid, tu.username,
		tu.password, tu.email, tu.enabled,
		tu.nonexpired, tu.loginattempts,
		tu.firstbadloginattempt,
		tu.credentialsnonexpired, roles.userrole
		from
		TrackingUsers tu
		inner
		join TrackingUserRoles roles on tu.userid =
		roles.userid;
	</select>

	<delete id="deleteUser" parameterType="String">
		delete from TrackingUsers
		where userid = #{userid};
	</delete>

	<select id="getDevicesByUserid" resultMap="getDeviceDatas"
		parameterType="String">
		select dev.deviceowner, dev.deviceid, dev.devicename,
		devicetypename,
		dev.devicetype from TrackingDevices dev where
		dev.deviceowner =
		#{userid};
	</select>

	<select id="getAllDevices" resultMap="getDeviceDatas">
		select dev.deviceowner,
		dev.deviceid, dev.devicename, devicetypename,
		dev.devicetype from
		TrackingDevices dev;
	</select>

	<insert id="storeDevice" parameterType="DatabaseDevice">
		insert
		into TrackingDevices values(#{deviceid}, #{userid}, #{deviceName},
		#{deviceTypeName}, #{deviceType});
	</insert>

	<delete id="deleteDeviceByDeviceid" parameterType="DatabaseDevice">
		delete from
		TrackingDevices where deviceowner = #{userid} and deviceid =
		#{deviceid};
	</delete>

</mapper>