h1 {
	text-align: center;
	color: aqua;
	background-color: blue;
}

h2 {
	text-align: center;
}

ul.trackingTopMenuUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li.trackingTopMenuLI {
    float: left;
}

li.trackingTopMenuLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.trackingTopMenuLI a:hover {
    background-color: #111111;
}

input[type=text] {
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;      
}

input[type=password] {
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#username {
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}