<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="Zone"
			type="uni.miskolc.ips.ilona.measurement.model.position.Zone" />
		<typeAlias alias="Position"
			type="uni.miskolc.ips.ilona.measurement.model.position.Position" />
		<typeAlias alias="Coordinate"
			type="uni.miskolc.ips.ilona.measurement.model.position.Coordinate" />
		<typeAlias alias="Measurement"
			type="uni.miskolc.ips.ilona.measurement.model.measurement.Measurement" />

		<typeAlias alias="BluetoothTags"
			type="uni.miskolc.ips.ilona.measurement.model.measurement.BluetoothTags" />
		<typeAlias alias="GPSCoordinate"
			type="uni.miskolc.ips.ilona.measurement.model.measurement.GPSCoordinate" />
		<typeAlias alias="Magnetometer"
			type="uni.miskolc.ips.ilona.measurement.model.measurement.Magnetometer" />
		<typeAlias alias="RFIDTags"
			type="uni.miskolc.ips.ilona.measurement.model.measurement.RFIDTags" />
		<typeAlias alias="WiFiRSSI"
			type="uni.miskolc.ips.ilona.measurement.model.measurement.WiFiRSSI" />

		<typeAlias alias="UUID" type="java.util.UUID" />
		<typeAlias alias="UUIDTypeHandler"
			type="uni.miskolc.ips.ilona.measurement.persist.mappers.typehandlers.UUIDTypeHandler" />
		<typeAlias alias="LoginUserData"
			type="uni.miskolc.ips.ilona.tracking.model.TrackingLoginUserData" />
		<typeAlias alias="BooleanToIntHander"
			type="uni.miskolc.ips.ilona.tracking.persist.mysql.BooleanEnabledTypeHandler" />
		<typeAlias alias="UserDetails"
			type="uni.miskolc.ips.ilona.tracking.model.UserDetails" />
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="UUIDTypeHandler" javaType="UUID"
			jdbcType="VARCHAR" />
		<typeHandler handler="BooleanToIntHander" javaType="boolean"
			jdbcType="INTEGER" />
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- It works -->
		<!-- <mapper url="file:///home/zsolt/workspace/ips/measurement/measurement-persist-mysql/src/main/resources/ZoneMapper.xml" 
			/> -->
		<!-- <mapper url="file:///home/zsolt/workspace/ips/measurement/measurement-persist-mysql/src/main/java/uni/miskolc/ips/ilona/measurement/persist/mappers/ZoneMapper.xml" 
			/> -->

		<mapper
			resource="uni/miskolc/ips/ilona/measurement/persist/mappers/ZoneMapper.xml" />
		<mapper
			resource="uni/miskolc/ips/ilona/measurement/persist/mappers/PositionMapper.xml" />
		<mapper
			resource="uni/miskolc/ips/ilona/measurement/persist/mappers/MeasurementMapper.xml" />
		<mapper
			resource="uni/miskolc/ips/ilona/tracking/persist/mysql/TrackingMapper.xml" />
		<mapper
			resource="uni/miskolc/ips/ilona/tracking/persist/mysql/TrackingUserMapper.xml" />



		<!-- Do not work. Fault may be caused by the classpath. -->
		<!-- <mapper class="uni.miskolc.ips.ilona.measurement.persist.mappers.ZoneMapper" 
			/> <package name="uni.miskolc.ips.ilona.measurement.persist.mappers"/> -->

		<!-- <mapper resource="file:///home/zsolt/workspace/ips/measurement/measurement-persist-mysql/resources/ZoneMapper.xml" 
			/> -->
	</mappers>
</configuration>