<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="uni.miskolc.ips.ilona.tracking.persist.mysql.TrackingUserMapper">

	<resultMap type="UserDetails" id="GetUserDetailsResult">

		<id property="userid" column="userid" javaType="String" jdbcType="VARCHAR" />

		<result property="username" column="username" javaType="String"
			jdbcType="VARCHAR" />

		<result property="password" column="password" javaType="String"
			jdbcType="VARCHAR" />

		<result property="email" column="email" javaType="String"
			jdbcType="VARCHAR" />

		<result property="enabled" column="enabled" javaType="boolean"
			jdbcType="INTEGER" typeHandler="BooleanToIntHander" />

		<result property="accountNonExpired" column="accountnonexpired"
			javaType="boolean" jdbcType="INTEGER" typeHandler="BooleanToIntHander" />

		<result property="accountNonLocked" column="accountnonlocked"
			javaType="boolean" jdbcType="INTEGER" typeHandler="BooleanToIntHander" />

		<result property="credentialsNonExpired" column="credentialsnonexpired"
			javaType="boolean" jdbcType="INTEGER" typeHandler="BooleanToIntHander" />

		<collection property="roles" ofType="String" javaType="List"
			jdbcType="VARCHAR">
			<id property="roles" column="userrole" />
		</collection>

	</resultMap>

	<select id="getUser" resultMap="GetUserDetailsResult"
		parameterType="String">
		select tud.userid, tud.username, tud.password,
		tud.email, tud.enabled,
		tud.accountnonexpired, tud.nonlocked,
		tud.credentialsnonexpired,
		tur.userrole

		from TrackingUserDetails tud
		inner join TrackingUserRoles tur on
		tud.userid = tur.userid where
		tud.userid = #{userid};
	</select>

	<select id="getAllUsers" resultMap="GetUserDetailsResult">
		select tud.userid,
		tud.username, tud.password,
		tud.email, tud.enabled,
		tud.accountnonexpired, tud.nonlocked,
		tud.credentialsnonexpired,
		tur.userrole

		from TrackingUserDetails tud
		inner join TrackingUserRoles
		tur on
		tud.userid = tur.userid;
	</select>

	<update id="updateUser" parameterType="UserDetails">
		update TrackingUserDetails
		set 
			userid = #{userid},
			password = #{password},
			email = #{email},
			enabled = #{enabled, typeHandler=BooleanToIntHander }
		;
	</update>

	<insert id="createUser" parameterType="UserDetails">

		insert into
		TrackingUserDetails(userid, username, password, email,
		enabled,
		accountnonexpired, nonlocked, credentialsnonexpired)

		values(
		#{userid,
		jdbcType=VARCHAR},
		#{username,
		jdbcType=VARCHAR},
		#{password,
		jdbcType=VARCHAR},
		#{email,
		jdbcType=VARCHAR},
		#{enabled,
		typeHandler=BooleanToIntHander },
		#{accountNonExpired,
		typeHandler=BooleanToIntHander},
		#{accountNonLocked,
		typeHandler=BooleanToIntHander},
		#{credentialsNonExpired,
		typeHandler=BooleanToIntHander}
		);



	</insert>

	<insert id="insertUserRoles" parameterType="UserDetails">

		insert into
		TrackingUserRoles values
		<foreach collection="roles" index="index" item="element"
			separator=",">
			(
			#{userid,
			jdbcType=VARCHAR},
			#{element, jdbcType=VARCHAR})
		</foreach>
		;
	</insert>

</mapper>