<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
		<File name="ALL_LOGS_FILE" fileName="log/ilona.log" append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		<File name="DAOLogFile" fileName="log/trackingPersistMysql.log"
			append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		<File name="ControllerLogFile" fileName="log/trackingController.log"
			append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		<File name="MODEL_LOG_FILE" fileName="log/trackingModel.log"
			append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		<File name="ServiceLogFile" fileName="log/trackingService.log"
			append="true">
			<PatternLayout
				pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="uni.miskolc.ips.ilona.tracking.persist" level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ALL_LOGS_FILE" />
			<AppenderRef ref="DAOLogFile" />
		</Logger>
		<Logger name="uni.miskolc.ips.ilona.tracking.controller" level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ALL_LOGS_FILE" />
			<AppenderRef ref="ControllerLogFile" />
		</Logger>
		<Logger name="uni.miskolc.ips.ilona.tracking.model" level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ALL_LOGS_FILE" />
			<AppenderRef ref="MODEL_LOG_FILE" />
		</Logger>
		<Logger name="uni.miskolc.ips.ilona.tracking.service" level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ALL_LOGS_FILE" />
			<AppenderRef ref="ServiceLogFile" />
		</Logger>
		<Root level="WARN">
			<AppenderRef ref="ALL_LOGS_FILE" level="info" />
			<AppenderRef ref="STDOUT" level="info" />
		</Root>
	</Loggers>
</Configuration>