<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="BooleanToIntHander"
			type="uni.miskolc.ips.ilona.tracking.persist.mysql.typehandlers.BooleanToFromTinyintTypeHandler" />
		<typeAlias alias="passwordTokenMapper"
			type="uni.miskolc.ips.ilona.tracking.persist.mysql.model.PasswordRecoveryTokenMapper" />
		<typeAlias alias="rememberMeToken"
			type="uni.miskolc.ips.ilona.tracking.persist.mysql.model.PersistenceTokenMapper" />
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="BooleanToIntHander" javaType="boolean"
			jdbcType="INTEGER" />
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper
			resource="uni/miskolc/ips/ilona/tracking/persist/mysql/mappers/SecurityFunctionsUserMapper.xml" />
		<mapper
			resource="uni/miskolc/ips/ilona/tracking/persist/mysql/mappers/RememberMeTokenMapper.xml" />

	</mappers>
</configuration>